<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.shiro.dao.IOrganizationDao">
    <resultMap id="BaseResultMap" type="com.amayadream.shiro.pojo.Organization">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parent_id" jdbcType="VARCHAR"/>
        <result column="PARENT_IDS" property="parent_ids" jdbcType="VARCHAR"/>
        <result column="LOCKED" property="locked" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, NAME, PARENT_ID, PARENT_IDS, LOCKED
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM ORGANIZATIONS
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ORGANIZATIONS
        WHERE ID = #{id, jdbcType=VARCHAR}
    </select>

    <select id="selectByPid" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ORGANIZATIONS
        WHERE PARENT_ID = #{parent_id, jdbcType=VARCHAR}
    </select>

    <!-- 插入用户 -->
    <insert id="insert" parameterType="com.amayadream.shiro.pojo.Organization">
        INSERT INTO ORGANIZATIONS (ID, NAME, PARENT_ID, PARENT_IDS, LOCKED)
        VALUES (sys_guid(), #{name, jdbcType=VARCHAR}, #{parent_id, jdbcType=VARCHAR}, #{parent_ids, jdbcType=VARCHAR}, #{locked, jdbcType=INTEGER})
    </insert>

    <!-- 更新用户 -->
    <update id="update" parameterType="com.amayadream.shiro.pojo.Organization">
        UPDATE ORGANIZATIONS
        <set>
            <if test="name != null and name != ''">
                NAME = #{name, jdbcType=VARCHAR},
            </if>
            <if test="parent_id != null and parent_id != ''">
                PARENT_ID = #{parent_id, jdbcType=VARCHAR},
            </if>
            <if test="parent_ids != null and parent_ids != ''">
                PARENT_IDS = #{parent_ids, jdbcType=VARCHAR},
            </if>
            <if test="locked != null and locked != ''">
                LOCKED = #{locked, jdbcType=INTEGER},
            </if>
        </set>
        WHERE ID = #{id, jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM ORGANIZATIONS WHERE ID = #{id, jdbcType=VARCHAR}
    </delete>

</mapper>