<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.shiro.dao.IResourceDao">
    <resultMap id="BaseResultMap" type="com.amayadream.shiro.pojo.Resource">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parent_id" jdbcType="VARCHAR"/>
        <result column="PARENT_IDS" property="parent_ids" jdbcType="VARCHAR"/>
        <result column="PERMISSION" property="permission" jdbcType="VARCHAR"/>
        <result column="LOCKED" property="locked" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, NAME, TYPE, URL, PARENT_ID, PARENT_IDS, PERMISSION, LOCKED
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM RESOURCES
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM RESOURCES
        WHERE ID = #{id, jdbcType=VARCHAR}
    </select>

    <select id="selectByPid" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM RESOURCES
        WHERE PARENT_ID = #{parent_id, jdbcType=VARCHAR}
    </select>

    <!-- 插入用户 -->
    <insert id="insert" parameterType="com.amayadream.shiro.pojo.Resource">
        INSERT INTO RESOURCES (ID, NAME, TYPE, URL, PARENT_ID, PARENT_IDS, PERMISSION, LOCKED)
        VALUES (sys_guid(), #{name, jdbcType=VARCHAR},#{type, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR},
        #{parent_id, jdbcType=VARCHAR}, #{parent_ids, jdbcType=VARCHAR}, #{permission, jdbcType=VARCHAR}, #{locked, jdbcType=INTEGER})
    </insert>

    <!-- 更新用户 -->
    <update id="update" parameterType="com.amayadream.shiro.pojo.Resource">
        UPDATE RESOURCES
        <set>
            <if test="name != null and name != ''">
                NAME = #{name, jdbcType=VARCHAR},
            </if>
            <if test="type != null and type != ''">
                TYPE = #{type, jdbcType=VARCHAR},
            </if>
            <if test="url != null and url != ''">
                URL = #{url, jdbcType=VARCHAR},
            </if>
            <if test="parent_id != null and parent_id != ''">
                PARENT_ID = #{parent_id, jdbcType=VARCHAR},
            </if>
            <if test="parent_ids != null and parent_ids != ''">
                PARENT_IDS = #{parent_ids, jdbcType=VARCHAR},
            </if>
            <if test="permission != null and permission != ''">
                PERMISSION = #{permission, jdbcType=VARCHAR},
            </if>
            <if test="locked != null and locked != ''">
                LOCKED = #{locked, jdbcType=INTEGER},
            </if>
        </set>
        WHERE ID = #{id, jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM RESOURCES WHERE ID = #{id, jdbcType=VARCHAR}
    </delete>

</mapper>