<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.shiro.dao.IRoleDao">
    <resultMap id="BaseResultMap" type="com.amayadream.shiro.pojo.Role">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="ROLENAME" property="roleName" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="RESOURCE_IDS" property="resource_ids" jdbcType="VARCHAR"/>
        <result column="LOCKED" property="locked" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, ROLENAME, DESCRIPTION, RESOURCE_IDS, LOCKED
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM
        (
        SELECT A.*,ROWNUM RN
        FROM
        (
        SELECT * FROM ROLES
        ORDER BY ROLENAME DESC
        ) A
        )
        WHERE RN BETWEEN #{start} and #{end}
    </select>

    <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ROLES
        WHERE ID = #{id, jdbcType=VARCHAR}
    </select>

    <select id="selectRoles" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM ROLES
    </select>

    <select id="count" resultType="com.amayadream.shiro.pojo.Role">
        SELECT COUNT(*) ID FROM ROLES;
    </select>

    <!-- 插入用户 -->
    <insert id="insert" parameterType="com.amayadream.shiro.pojo.Role">
        INSERT INTO ROLES (ID, ROLENAME, DESCRIPTION, RESOURCE_IDS, LOCKED)
        VALUES (sys_guid(), #{roleName, jdbcType=VARCHAR},#{description, jdbcType=VARCHAR}, #{resource_ids, jdbcType=VARCHAR},#{locked, jdbcType=INTEGER})
    </insert>

    <!-- 更新用户 -->
    <update id="update" parameterType="com.amayadream.shiro.pojo.Role">
        UPDATE ROLES
        <set>
            <if test="roleName != null and roleName != ''">
                ROLENAME = #{roleName, jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != ''">
                DESCRIPTION = #{description, jdbcType=VARCHAR},
            </if>
            <if test="resource_ids != null and resource_ids != ''">
                RESOURCE_IDS = #{resource_ids, jdbcType=VARCHAR},
            </if>
            <if test="locked != null and locked != ''">
                LOCKED = #{locked, jdbcType=INTEGER},
            </if>
        </set>
        WHERE ID = #{id, jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM ROLES WHERE ID = #{id, jdbcType=VARCHAR}
    </delete>

</mapper>